params.level = "class"

params.dea_meta = "/space/scratch/DEA_testing/${params.level}_results/${params.level}_meta.rds"
params.dea_results = "/space/scratch/DEA_testing/${params.level}_results/${params.level}_res.rds"

params.outdir = "$projectDir/${params.level}_results"
params.organism = "mus_musculus"


params.color_mapping_file = "/space/grp/rschwartz/rschwartz/nextflow_eval_pipeline/meta/color_mapping.tsv" // color mapping for plots
params.mapping_file = "/space/grp/rschwartz/rschwartz/cell_annotation_cortex/meta/census_map_${params.organism}.tsv" // author to harmonized label mapping
process {
  cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
  executor = 'slurm'
  clusterOptions = '-C thrd64 --cpus-per-task=20'
}
executor {
  queueSize = 90 
}

conda.enabled = true
profiles {
  conda {
    conda.enabled = true
  }
}

