params.class_results = "/space/scratch/DEA_testing/class_results"
params.subclass_results = "/space/scratch/DEA_testing/subclass_results"

params.outdir = "$projectDir/results"
params.organism = "mus_musculus"
// Define the required input parameters
conda.enabled = true
params.color_mapping_file = "/space/grp/rschwartz/rschwartz/nextflow_eval_pipeline/meta/color_mapping.tsv" // color mapping for plots
params.mapping_file = "/space/grp/rschwartz/rschwartz/cell_annotation_cortex/meta/census_map_${params.organism}.tsv" // author to harmonized label mapping
process {
  cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
  executor = 'slurm'
  clusterOptions = '-C thrd64 --cpus-per-task=20'
}
executor {
  queueSize = 90 
}