// Mapping from experiment accession to DEA factors

params.use_staging = true // whether to use gemma-cli-staging or gemma-cli
params.min_cells = 10 // minimum number of cells per group for DEA
params.level = "class"
params.version = "1.2.0"
params.dea_meta = "/space/scratch/DEA_testing/${params.level}_results/${params.level}_meta.rds"
params.dea_results = "/space/scratch/DEA_testing/${params.level}_results/${params.level}_res.rds"

params.outdir = "$projectDir/min_cells_${params.min_cells}/${params.level}_results"
//params.organism = "mus_musculus"

params.GEMMA_USERNAME = System.getenv('GEMMA_USERNAME')
params.GEMMA_PASSWORD = System.getenv('GEMMA_PASSWORD')

//params.color_mapping_file = "/space/grp/rschwartz/rschwartz/nextflow_eval_pipeline/meta/color_mapping.tsv" // color mapping for plots
//params.mapping_file = "/space/grp/rschwartz/rschwartz/cell_annotation_cortex/meta/census_map_${params.organism}.tsv" // author to harmonized label mapping

params.experiments = ['GSE213364',
					'GSE157827',
					'GSE163323.3',
					'GSE283187',
					'GSE181786',
					'GSE280569',
					'GSE183757',
					'GSE267301']

	// 'GSE133283' too many missing values
	// GSE221712  not sure

params.experiment_factors = [
	'GSE267301':        ['age','disease','organism_part'],
	'GSE213364':        ['disease'],
	'GSE157827':        ['disease'],
	'GSE163323.3':      ['genotype'],
	'GSE133283':        ['developmental_stage'],
	'GSE221712':        ['biological_sex','developmental_stage','genotype','strain'],
	'GSE183757':        ['treatment'],
	'GSE283187':        ['genotype'],
	'GSE181786':        ['strain'],
	'GSE280569':        ['age','developmental_stage']
]

params.cta_file_prefix = "/space/gemmaData/metadata"

process {
  cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
  executor = 'slurm'
  clusterOptions = '-C thrd64 --cpus-per-task=20'
}
executor {
  queueSize = 90 
}

conda.enabled = true
profiles {
  conda {
    conda.enabled = true
  }
}

